body{
    font-size: large;
    background-color: lightgray;
    text-align: center;
}
figure{
    height:60%;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* background-color: lightsalmon; */
    display: inline-block;
    margin:30px;

}
figure:hover{
    box-shadow: 0 0 10px black;
    /* background-color:slateblue; */
    /* box-shadow: 0 0 10px black; */

}


figure img{
    width:100%;
    height:200px;
    border-radius:10px ;
    

}
figcaption{
    background-color:aliceblue;
    padding: 10px;
    border-radius:10px ;
    color: black;
}